<div class="loginContainer">
  <div class="unterContainer">
    <input type="checkbox" id="chk" aria-hidden="true" />
    <div class="registrieren">
      <form>
        <label for="chk" aria-hidden="true">Registrieren</label>
        <input type="text" name="txt" placeholder="Benutzername" required="" [(ngModel)]="registrierteObj.benutzername"/>
        <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="registrierteObj.email"/>
        <input type="password" name="pswd" placeholder="Passwort" required="" [(ngModel)]="registrierteObj.passwort"/>
        <button (click)="beiRegistrierung()">Registrieren</button>
      </form>
    </div>

    <div class="einloggen">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="einloggenObj.benutzername"/>
        <input type="password" name="pswd" placeholder="Passwort" required="" [(ngModel)]="einloggenObj.passwort"/>
        <button (click)="beiEinloggen()">Einloggen</button>
      </form>
    </div>
  </div>
</div>
