.login-container {
  width: 100%;
  height: 100vh;
  margin: 0rem;
  padding: 0rem;
  background-color: #9c9c9c;
  position: relative;
  .film {
    position: absolute;
    object-fit: cover;
    top: 0rem;
    left: 0rem;
    width: 56rem;
    height: 100vh;
  }
  .logo {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 12rem;
    right: 13rem;
  }
  .beschreibung {
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 700;
    letter-spacing: 0.125rem;
    position: absolute;
    bottom: 15rem;
    right: 7rem;
    width: 49rem;
    text-align: center;
  }
  .login-form {
    width: 27rem;
    height: 14rem;
    padding: 2rem;
    background-color: rgb(218, 216, 216);
    border-radius: 0.55rem;
    position: absolute;
    top: 20rem;
    left: 15rem;
    border: 0.1rem solid gray;
    opacity: 0.95;
    .form-gruppe {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
      opacity: 1;
     
      label {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
      opacity: 1;
      
      }
      input {
        height: 2rem;
        padding: 0.3rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
        border-radius: 0.2rem;
        border: 0.1rem solid gray;
        opacity: 1;
      }
    }
    .btn-container {
      position: relative;
  
      .error {
        position: absolute;
        top: 2rem;
        color: red;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
       
      }
      button {
        width: 21rem;
        height: 2.5rem;
        margin-left: 0.85rem;
        text-decoration: none;
        border: none;
        font-weight: bold;
        border-radius: 0.2rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        cursor: pointer;
        background-color: #1d7a5b;
        color: rgb(255, 255, 255);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
     
      }
    }
  }
}
