
.login-container {
    width: 100%;
    height: 100vh;
    background-color: #9c9c9c;
    position: relative;
    .logo {
        font-size: 5.25rem;
        font-weight: bold;
        font-family:  "Caveat" , cursive;
        letter-spacing: 0.2rem;
        position: absolute;
        top: 9rem;
        right: 39rem;
    }
    .beschreibung {
        font-size: 2rem;
        font-family: "Caveat" , cursive;
        font-weight: 800;
        letter-spacing: 0.125rem;
        position: absolute;
        bottom: 8rem;
        right: 11rem;
        width: 70rem;
        text-align: center;
    }
    .film {
        position: absolute;
        object-fit: cover;
        top: 0rem;
        left: 0rem;
        width: 56rem;
        height: 100vh;
    }
    .login-form {
        width: 25rem;
        height: 17rem;
        padding: 1.25rem;
        background-color: lightgray;
        color: black;
        border-radius: 0.5rem;
        position: absolute;
        top: 5rem;
        right: 5.5rem;
        box-shadow: 0.2rem 0.2rem 2rem rgb(62, 62, 62);
        .form-gruppe {
            margin-top: 1.25rem;
        }
        label {
            font-weight: bold;
        }
        .btn-container {
            .btn {
                margin-top: 1.25rem;
            }
        }
    }
}