<app-kopf></app-kopf>
<div class="home-container">
  <div class="gesammten-filme">
    <div class="hyped-filme">
      <div class="hyped">
        <h4>Meist geschaute Filme</h4>
        <div class="alle-sehen">Alle sehen</div>
      </div>
      <div class="film-miniaturansicht">
        <div class="film" *ngFor="let film of tendingeFilme">
          <div class="ansicht" (click)="geheZumFilm('trending', film.id)">
            <img [src]="film.cover" alt="" />
          </div>
          <div class="details">
            <div class="name" (click)="geheZumFilm('trending', film.id)">{{ film.name }}</div>
            <div class="bewertung">
              <i class="fa-solid fa-star"></i>
              <div class="mittig">{{ film.rating }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kino-filme">
      <div class="hyped">
        <h4>Beliebtesten Kino Filme</h4>
        <div class="alle-sehen">Alle sehen</div>
      </div>
      <div class="film-miniaturansicht">
        <div class="film" *ngFor="let film of kinoFilme">
          <div class="ansicht" (click)="geheZumFilm('kino', film.id)">
            <img [src]="film.cover" alt="" />
          </div>
          <div class="details">
            <div class="name" (click)="geheZumFilm('kino', film.id)">{{ film.name }}</div>
            <div class="bewertung">
              <i class="fa-solid fa-star"></i>
              <div class="mittig">{{ film.rating }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="beliebte-filme">
    <h4>Iconisch Filme</h4>
    <div class="filme">
      <div class="film" *ngFor="let film of beliebteFilme">
        <div class="name" (click)="geheZumFilm('beliebt', film.id)">{{ film.name }}</div>
        <div class="bewertung">
          <i class="fa-solid fa-star"></i>
          <div class="mittig">{{ film.rating }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
