<app-oben></app-oben>
<div class="home-container">
  <div class="gesammten-filme">
    <div class="hyped-filme">
      <div class="hyped">
        <h4>Beliebtesten Filme</h4>
        <div class="alle-sehen">Alle sehen</div>
      </div>
      <div class="film-miniaturansicht">
        <div class="film" *ngFor="let filme of tendingeFilme">
          <div class="ansicht">
            <img [src]="filme.cover" alt="" />
          </div>
          <div class="details">
            <div class="name">{{ filme.name }}</div>
            <div class="bewertung">
              <i class="fa-solid fa-star"></i>
              <div class="mittig">{{ filme.rating }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="beliebte-filme"></div>
</div>
